<template>
   <!-- App.vue -->

   <v-app>
      <v-navigation-drawer app v-model="drawer">
         <!-- untuk diedit -->
         <v-list>
            <v-list-item v-if="!guest">
               <v-list-item-avatar>
                  <v-img
                     src="https://i.picsum.photos/id/1005/5760/3840.jpg?hmac=2acSJCOwz9q_dKtDZdSB-OIK1HUcwBeXco_RMMTUgfY"
                  ></v-img>
               </v-list-item-avatar>
               <v-list-item-content>
                  <v-list-item-title>Saha nya</v-list-item-title>
               </v-list-item-content>
            </v-list-item>

            <div class="pa-2" v-if="guest">
               <v-btn block color="primary" class="mb-1">
                  <v-icon left>mdi-lock</v-icon>
                  Login
               </v-btn>
               <v-btn block color="succes">
                  <v-icon left>mdi-account</v-icon>
                  Register
               </v-btn>
            </div>

            <v-divider></v-divider>

            <v-list-item
               v-for="(item, index) in menus"
               :key="`menu-${index}`"
               :to="item.route"
            >
               <v-list-item-icon>
                  <v-icon left>{{ item.icon }}</v-icon>
               </v-list-item-icon>
               <v-list-item-content>
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
               </v-list-item-content>
            </v-list-item>
         </v-list>

         <template v-slot:append v-if="!guest">
            <div class="pa-2">
               <v-btn block color="red" dark>
                  <v-icon left>mdi-lock</v-icon>
                  Logout
               </v-btn>
            </div>
         </template>
         <!--  -->
      </v-navigation-drawer>

      <v-app-bar app color="succes" dark>
         <!-- untuk diedit -->
         <v-app-bar-nav-icon
            @click.stop="drawer = !drawer"
         ></v-app-bar-nav-icon>
         <v-toolbar-title>KaumRebahanApp</v-toolbar-title>
         <v-spacer></v-spacer>
         <!--  -->
      </v-app-bar>

      <!-- Sizes your content based upon application components -->
      <v-main>
         <!-- Provides the application the proper gutter -->
         <v-container fluid>
            <!-- <v-slide-transition>
          <router-view></router-view>
        </v-slide-transition> -->
            <!-- If using vue-router -->
            <router-view></router-view>
         </v-container>
      </v-main>

      <v-footer app> @Sanbercode | VueJS </v-footer>
   </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';

export default {
   name: "App",

   // components: {
   //   HelloWorld,
   // },

   data: () => ({
      drawer: false,
      menus: [
         { title: "Home", icon: "mdi-home", route: "/" },
         { title: "Blogs", icon: "mdi-note", route: "/blogs" },
      ],
      guest: false,
   }),
};
</script>
