<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<div id="app">
    <button onclick="vm.openForm()">Open Form</button><br>
    {{ "Nilai a :" + a }}
    {{ "Hasil :" + itung}}
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a : 0,
                hasil : 0,
                itung :0,
                bb : 0,
            },
            methods : {
                openForm : function(){
                    this.a = Number(prompt("Masukan Nilai a"))
                    this.hasil += this.a
                    this.bb++

                    if(this.hasil <= 10){
                        this.openForm()
                    } else{
                        this.itung = this.hasil / this.bb 
                    }
                    
                    
            }}})
    </script>
</body>
</html>