<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="formInput">
            <input type="text" v-model="formUser">
            <button v-if="!editButton" @click="addUser">
                Add</button>
            <button v-if="editButton" @click="updateUser">
                Update</button>
        </div>

            <users-list>
                <template v-slot:name="slot">
                {{ slot.users[0].name}}
                </template>
            </users-list>

            <!-- <template id="user-component">
                <ul>
                    <li v-for="(user, index) in reverseUsers" :key="index">
                        {{ users.name }} ||
                        <button @click="editUser(index)">Edit</button>
                        <button @click="deleteUser(index)">Delete</button>
                    </li>
                </ul>
            </template>
    
            <users-component v-for="(user, index) in reverseUsers" :key="index" v-bind:user="user"
                @edit:user="formUser - $event">
            </users-component>
        </div>
    
        <script>
            var UsersComponent = {
                template: `
                    <div class="usersList" >
                        <ul>
                            <li>
                                {{ user.name }} ||
                                <button @click="editUser(index)", user.name>Edit</button>
                                <button @click="deleteUser(index)" > Delete</button >
                            </li>
                        </ul>
                        </div>`,
                data() {
                return {
                    reverseUsers: {
                        get: function () {
                            return this.users.slice().reverse()
                        },
                        set: function () {
                            this.users = value.slice().reverse()
                        }
                    }
                }
            },
            props: ['name']
                } -->
    <script>
        var UsersList = {
            template : `
            <div>
                <ul>
                <li> 
                    <slot name="name" v-bind:users="users"> {{ users[0].name }}</slot> 
                    ||
                    <button>Edit</button>
                    <button>Delete</button>
                </li>
            </ul>
            </div>`,
        data(){
            return {
                users: [
                    { name: 'Muhammad Iqbal Mubarok' },
                    { name: 'Ruby Purwanti' },
                    { name: 'Faqih Muhammad' },
                ],
            }
        },
    }
    
        let vm = new Vue({
            el: '#app',
            components : {
                'users-list' : UsersList
            },
            data: {
                users: [
                    { name: 'Muhammad Iqbal Mubarok' },
                    { name: 'Ruby Purwanti' },
                    { name: 'Faqih Muhammad' },
                ],
                formUser: '',
                editButton: false,
                idSelected: null
            },
            computed: {
                reverseUsers: {
                    get: function () {
                        return this.users.slice().reverse()
                    },
                    set: function (value) {
                        this.users = value.slice().reverse()
                    }
                }
            },
            methods: {
                addUser: function () {
                    this.users.push({ name: this.formUser })
                    this.formUser = ''
                },
                editUser: function (id) {
                    this.formUser = this.reverseUsers[id].name
                    this.editButton = true,
                    this.idSelected = id
                },
                updateUser: function () {
                    this.reverseUsers[this.idSelected].name = this.formUser
                    this.formUser = ''
                    this.editButton = false
                },
                deleteUser: function (id) {
                    let confirmation = confirm("Anda yakin ?")
                    if (confirmation) {
                        this.reverseUsers = this.reverseUsers.filter(function (item, index) {
                            return index != id
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>