*{
    margin: 0;
    padding: 0;
    background-color: rgb(249, 230, 255);
}

h1{
    font-size: 10vw;
    background-image: url(img/bio.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 1em;
}

h5{
    font-size: 4vw;
    background-image: url(img/quote.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

hr{
    height: 3px;
    margin: 1em;
}

picture{
    display: flex;
    justify-content: center;
}

img {
    margin: 0.5em;
}

.ti{
    width: 7rem;
    height: auto;
}

.tw{
    width: 6rem;
    height: auto;
}

.th{
    width: 13rem;
    height: auto;
}

.kiri{
    align-self:flex-end;
}

.kanan{
    display: flex;
    flex-direction: column;
}

.inside{
    display: flex;
    margin: 2em;
    justify-content: center;
}