<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="submitdatam()">

            <div>
                <label for="nama">Nama</label><br>
                <input type="text" ref="name" v-model="form.name" placeholder="Nama Lengkap"><br>
                <label for="Alamat">Alamat</label><br>
                <input type="text" ref="address" v-model="form.address" placeholder="Alamat"><br>
                <label for="No HP">No HP</label><br>
                <input type="text" ref="no_hp" v-model="form.no_hp" placeholder="No HP">
            </div>
                
            <div v-if="btnsts == 'submit'">
                <button type="submit">Submit</button>
            </div>
            <div v-else-if="btnsts == 'update'">
                <button type="button" v-on:click="updatedatam(idmembered)">Update</button>
                <button type="button" v-on:click="clearform()">cancel</button>
            </div>
            <div v-else-if="btnsts == 'upload'">
                <input type="file" ref="photo" name="photo"><br>
                <button v-on:click="submitpicm(idmemberup)">Upload</button>
                <button type="button" v-on:click="clearform()">cancel</button>
            </div>
            
            
            <div>
                <table>
                    <tr>
                        <th>Profile</th>
                        <th>Nama</th>
                        <th>Alamat</th>
                        <th>Nomor</th>
                        <th>Action</th>
                    </tr>
                    <tr v-for="(member, index) in members" :key="index">
                        <td><img :src="profilepic+member.photo_profile" alt="" style="width: 50px;"></td>
                        <td>{{ member.name }}</td>
                        <td>{{ member.address }}</td>
                        <td>{{ member.no_hp }}</td>
                        <td>
                            <button v-on:click.prevent="editdatam(member)" >Edit</button>
                            <button v-on:click.prevent="deldatam(member.id)">Hapus</button>
                            <button v-on:click.prevent="btnupicm(member)">Upload Foto</button>
                        </td>
                    </tr>
                </table>
            </div>

            
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                form :{
                    name : '',
                    address : '',
                    no_hp : '',
                },
                idmembered:null,
                idmemberup:null,        
                members : [],
                profilepic:'http://demo-api-vue.sanbercloud.com',
                btnsts : 'submit',
            },
            created() {
                this.getdatam()
            },
            methods: {
                submitdatam:function(){
                    let formData = new FormData()
                    formData.append('name', this.form.name)
                    formData.append('address', this.form.address)
                    formData.append('no_hp', this.form.no_hp)

                    const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData,
                    }
                    axios(config)
                        .then((response) => {
                            this.getdatam()
                            this.clearform()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                    
                },

                editdatam: function(member){
                    this.form.name = member.name
                    this.form.address = member.address
                    this.form.no_hp = member.no_hp
                    this.btnsts = 'update'
                    this.idmembered= member.id
                },

                updatedatam: function(id){
                    let formData = new FormData()
                    formData.append('name', this.form.name)
                    formData.append('address', this.form.address)
                    formData.append('no_hp', this.form.no_hp)

                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : "PUT"},
                        data : formData,
                    }
                    axios(config)
                        .then((response) => {
                            this.getdatam()
                            this.clearform()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },

                deldatam: function(id){
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : "DELETE"},
                    }
                    axios(config)
                        .then((response) => {
                            this.getdatam()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log("ERRRR:: ",error.response.data);
                        });
                },

                btnupicm: function(member){
                    this.form.name = member.name
                    this.form.address = member.address
                    this.form.no_hp = member.no_hp
                    this.btnsts = 'upload'
                    this.idmemberup= member.id
                },

                submitpicm :function(id){
                    let file = this.$refs.photo.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data : formData,
                    }
                    axios(config)
                        .then((response) => {
                            
                            this.clearform()
                            this.getdatam()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },

                getdatam: function () {
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                            console.log(response.data.members);
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },

                clearform : function(){
                    this.form.name = ' '
                    this.form.address = ''
                    this.form.no_hp = ''
                    this.btnsts = 'submit'
                    this.idmembered= null
                    this.idmemberup= null
                }
            }
        })

    </script>
</body>

</html>