<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form>
            <input type="text" v-model="namee" >
            {{ name }}
            <button type="submit" @click.prevent="addus()">add</button>
        
            <ul v-for="(user,index) in users">
                <li>{{user.name}}
                <button @click.prevent=editus(index)>Edit</button> ||
                <button @click.prevent="dltus(index)">Delete</button>
                </li>
            </ul>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                users : [
                        {'name':'Muhammad Iqbal Mubarok'},
                        {'name':'Ruby Purwanti'},
                        {'name':'Faqih Muhammad'},
                    ],
                    namee: '',
                },
                methods:{
                    addus: function(){
                        this.users.push({
                            name : this.namee
                        })
                    },

                    editus: function(index){
                        this.namee = name.users
                    },

                    dltus: function(index){
                    let cmtxt = "Anda Yakin?";
                        if (confirm(cmtxt) == true) {
                            this.users.splice(index, 1);
                        }
                        
                    }
            }})
    </script>
</body>
</html>